<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.tramline.buildkansen</string>

    <key>LaunchOnlyOnce</key>
    <true/>

    <key>EnvironmentVariables</key>
    <dict>
    <key>GIN_MODE</key>
    <string>release</string>
    </dict>

    <key>Program</key>
    <string>buildkansen</string>

    <key>UserName</key>
    <string>administrator</string>

    <key>WorkingDirectory</key>
    <string>/Users/administrator/buildkansen/svc</string>

    <key>StandardErrorPath</key>
    <string>/Users/administrator/buildkansen-stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/administrator/buildkansen-stdout.log</string>

    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
