<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BuildKansen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"/>
    <link rel="manifest" href="assets/site.webmanifest"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .intro {
            max-width: 960px;
            width: 100%;
            margin: 100px auto 20px auto;
        }
    </style>
</head>
<body class="container">
<nav>
    <div class="menu">
        <a href="/logout">logout</a>
    </div>
</nav>

<main class="intro">
    {{if .user}}
        Welcome {{.user.Name}}, to the fastest github actions macos runner thingum.
    {{else}}
        Welcome to the fastest github actions macos runner thingum.
        <p><a class="button success" href="/github/auth">Connect GitHub</a></p>
    {{end}}
</main>

</body>

</html>