<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <meta charset="UTF-8">
    <title>BUILDKANSEN</title>
    <link rel="stylesheet" href="/public/assets/public.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/favicon-16x16.png">
    <link rel="manifest" href="/public/assets/site.webmanifest">
    <link rel="mask-icon" href="/public/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{if .isProduction}}
    <script defer data-domain="builds.tramline.app" src="https://plausible.io/js/script.tagged-events.js"></script>
    {{end}}
</head>

<body>
<header class="font-avenir flex flex-col items-center justify-center pt-4 px-10 font-bold">
    <div class="flex items-center justify-center space-x-4">
        <div class="text-xl xl:text-2xl left-96 leading-tight">
            <span>ビ<br>ル<br>ド<br></span>
            <span>幹<br>線</span>
        </div>

        <div class="tracking-widest">
            <div class="text-[#ff4500] text-6xl xl:text-8xl leading-110">BUILD</div>
            <div class="text-[#f00] text-6xl xl:text-8xl leading-110">KANSEN</div>
        </div>
    </div>

    <p class="my-4 text-xl text-center text-secondary">Fast, pooled, custom macOS runners for GitHub Actions</p>
    <p class="my-4 text-sm text-center text-accent">
        built and supported by <a class="underline" href="https://tramline.app">Tramline</a>.
    </p>
</header>

<div class="divider divider-accent animate-pulse text-accent">•</div>

<main class="mb-20 overflow-hidden mx-auto container mt-10">
    <div class="flex flex-col justify-center items-center text-center space-y-10">
        <p class="bg-accent rounded-full p-1">
            <img src="/public/assets/buildkansen.png" alt="logo" width="256" height="256"/>
        </p>
        <p class="text-md font-semibold text-slate-300">Signup or login with GitHub to get started</p>
        <a href="/github/auth"
           class="btn btn-info cta plausible-event-name=Connect+Github">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 1792 1792">
                <path d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"></path>
            </svg>
            Connect GitHub
        </a>
    </div>
</main>
</body>

</html>